:root{
	--HCColorOne: #637aff;
	--HCColorTwo: #b19cff;
	--CUColorOne: rgb(255, 50, 90); 
	--CUColorTwo: rgb(75, 110, 255);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	color: #fff
}

html{
	background-color: #25272b;
	overflow: hidden;
	font-family: Rubik, sans-serif;
	user-select: none;
	text-align: center;
}

h2{
	font-size: 20pt;
	color: #a0a0a0
}

[hidden]{
	display: none !important
}

h2.selected{
	color: #fafafa;
	font-size: 25pt
}

.left-side-bar{
	position: absolute;
	padding: 10px;
	left: 40px;
	height: 800px;
	top: 65px;
	background-color: #000000aa;
	border-radius: 20px;
	width: 350px
}

.petImage,
.radio{
	position: relative;
	top: 5px
}

.petImage{
	background-color: #000;
	width: 325px;
	height: 325px;
	margin: 10px
}

.radio{
	width: 30px;
	height: 30px;
	cursor: pointer
}

.bottom-right-div,
.calc{
	height: 100px;
	color: #fff
}

.calc{
	width: 600px;
	background: 0 0;
	border-radius: 20px;
	border: 4px solid #fff;
	position: relative;
	top: 50px;
}

.calc:hover{
	scale: 1.1
}

.calc:active{
	transform: translateY(4px);
	transition: none
}

.calc:disabled{
	filter: brightness(50%)
}

.calc:disabled:hover{
	scale: 1
}

.calc:disabled:active{
	transform: translateY(0)
}

.right-div{
	position: absolute;
	right: 300px;
	top: 50px
}

.bottom-right-div{
	position: absolute;
	bottom: -50px;
	right: -40px;
	z-index: 99999999999;
	width: 400px;
}

.log,
.note,
.rightermore,
.top{
	position: relative
}

.note{
	position: relative;
	top: 150px;
	color: #fff !important;
	visibility: hidden
}

.input:focus{
	border: none;
	outline: 0
}

.rightermore{
	left: 325px;
	top: -200px
}

.hardcorePet{
	padding: 4px;
	padding-right: 8px;
	color: transparent;
	font-size: 22pt;
	position: absolute;
	top: 362px;
	backdrop-filter: brightness(20%);
	left: 1052px;
	z-index: 10;
	font-family: 'Fredoka', sans-serif;
	background-image: linear-gradient(to bottom, var(--HCColorOne), var(--HCColorTwo));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	text-align: center;
}

.customPet{
	padding: 4px;
	padding-right: 8px;
	color: transparent;
	font-size: 22pt;
	position: absolute;
	top: 362px;
	backdrop-filter: brightness(20%);
	left: 780px;
	z-index: 10;
	font-family: 'Fredoka', sans-serif;
	background-image: linear-gradient(to bottom, var(--CUColorOne), var(--CUColorTwo));
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	text-align: center;
}

h2[data-item]{
	margin-bottom: 15px;
}

.calc,
.calc:hover,
.calc:not(hover) {
	transition: 0.5s;
}

.calc {
	font-size: 60pt;
}

.result {
	font-size: 70pt;
	position: relative;
	top: 100px;
	cursor: pointer;
}

.left-side-bar,
.log {
	box-shadow: 0 0 10px 5px #0000008f;
}

#openLog,
.calc,
.left-side-bar [data-item],
.top {
	cursor: pointer;
}

#title {
	margin-top: 10px;
	font-size: 35pt;
}